/* Não usar pure white or pure black: https://uxplanet.org/basicdesign-never-use-pure-black-in-typography-36138a3327a6 */
/* The 4-point grid system: https://medium.com/@sainzkike/controlling-spacing-in-design-systems-multiple-spacing-9bf1afec87f */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-brand-color: #ED145B;
    --secondary-brand-color: #0762C8;
    --success: #198754;
    --success-dark: #095c36;
    --success-light: #9dd3ba;
    --warning: #ffc107;
    --warning-dark: #705400;
    --warning-light: #fdebb3;
    --danger: #dc3545;
    --danger-dark: #990c19;
    --danger-light: #f0c1c6;
    --new-gray: #CCCCCC;
    --new-black: #212427;
    --new-white: #E8E8E8;
}

body {
    color: var(--new-white);
    background-color: var(--new-black);
    font-family:  "Anton", sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(../assets/img/quadra_quiz.jpg);
    background-size: 100%;
}

button {
    font-family: monospace;
    font-weight: bold;
}

.flex-colunar {
    display: flex;
    flex-direction: column;
}

.width-fit-content {
    width: 80%;
    background: linear-gradient(to right, #16213d, #54595f);
    text-align: center;
}

.border-primary {
    border: 3px solid var(--primary-brand-color);
}

.border-secondary {
    border: 3px solid var(--secondary-brand-color);
}

.padding-8 {
    padding: 8px;
}

.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

.text-new-gray {
    color: var(--new-gray);
}

 #pontuacaoEJogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50%;
    flex-direction: column;
    border: none;
} 

#pontuacaoEJogo h2{
    font-size: 100px;
    margin: 0%;
} 

.conteint-centraliza{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
     background: linear-gradient(to right, #ff5e5e, #ff9345);
    padding: 8px 15px;
    border-radius: 10px;
    color: white;
    border: none;
    width: 50%;
    font-size: 26px;
    margin-bottom: 20px;
    cursor: pointer;
}

.button:hover{
    transition: all 0.5s;
    transform: translateY(-10px);
}



